.side-bar-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: $sidebarWidth;
  &.collapse {
    @include sidebar-transition(width);
    width: $collapseSidebarWidth;
  }
  .logo-wrapper {
    height: $headerHeight;
  }
  .el-menu {
    height: 100%;
  }
}

.main-container {
  margin-left: $sidebarWidth;
  padding-top: $headerHeight;
  @include sidebar-transition(margin-left);
  &.collapse {
    margin-left: $collapseSidebarWidth;
  }
  .header {
    position: fixed;
    top: 0;
    right: 0;
    left: $sidebarWidth;
    z-index: 1;
    background-color: $color-theme-background;
    @include sidebar-transition(left);
    &.collapse {
      left: $collapseSidebarWidth;
    }
    .navbar-wrapper {
      height: $headerHeight;
      border-bottom: $pure-border;
    }
  }
}
