.side-bar-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  transition: width $duration;
  width: $sideBarWidth;
  .side-bar-logo {
    height: $headerHeight;
  }
  .el-menu {
    height: 100%;
  }
}

.main-container {
  margin-left: $sideBarWidth;
  .navbar-wrapper {
    height: $headerHeight;
  }
}
