.side-bar-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: $sidebarWidth;
  &.collapse {
    @include sidebarTransition(width);
    width: $collapseSidebarWidth;
  }
  .logo-wrapper {
    height: $headerHeight;
  }
  .el-menu {
    height: 100%;
  }
}

.main-container {
  margin-left: $sidebarWidth;
  @include sidebarTransition(margin-left);
  &.collapse {
    margin-left: $collapseSidebarWidth;
  }
  .navbar-wrapper {
    height: $headerHeight;
  }
}
