/* 侧边栏变量
-------------------- */
$sidebarWidth: 210px;
$collapseSidebarWidth: 65px;
// 收缩动画时间
$duration: 0.28s;

// 侧边栏收缩动画
@mixin sidebar-transition(
  // 出现动画的css属性
  $transition-property
) {
  transition: $transition-property $duration ease-in;
}

/* 顶部及logo
-------------------- */
$headerHeight: 56px;

/* 统一样式
-------------------- */
$pure-border: 1px solid #e6e6e6;
$font-icon-size: 20px;
$color-text-regular: #606266;

// 可点击按钮hover样式
@mixin hover-pointer {
  &:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.025);
  }
}
