/* 定义全局样式变量 */
$--color-primary: teal; // element plus 默认主题颜色
// #2c3e50 vue 默认颜色

/* 侧边栏变量
-------------------- */
$sidebarWidth: 210px;
$collapseSidebarWidth: 65px;
// 收缩动画时间
$duration: 0.28s;

@mixin sidebarTransition(
  // 菜单选中后字体样式
  $transition-property
) {
  transition: $transition-property $duration ease-in;
}

/* 顶部及logo
-------------------- */
$headerHeight: 56px;

/* 统一样式
-------------------- */
$pure-border: 1px solid #e6e6e6;
